python-dotenv
langchain
langchain_community
langchain_openai
langchainhub
langgraph
openai
jinja2
numpy
pandas
nltk
spacy
jupyter
email-validator
streamlit
pypdf
langchain-chroma
langchain-text-splitters
langchain_experimental
PyMuPDF